<main class="flex flex-col gap-y-[5.1875rem]">
  <img src="../../assets/movie.png" alt="movie-logo" class="w-8 h-[1.625rem] self-center"/>
  <section class="rounded-[1.5rem] w-[24rem]  bg-[#161D2F] flex flex-col p-8 justify-center gap-y-[2.5rem]">
    <h2 class="text-[2rem] font-light tracking-tighter text-white">Login</h2>
    <form class="flex flex-col gap-y-[2.5rem]">
      <div  class="flex flex-col gap-y-[1.25rem]">
        <input type="text" name="email" required placeholder="Email Address" class="text-white bg-[#161d2f] h-[2.3125rem] bg-none focus:outline-none pl-4 pb-6 placeholder:text-[0.9375rem] placeholder:font-light placeholder:text-opacity-50 border-b  border-[#5a698f] w-[21rem]"/>
        <input type="password" name="password"  name="password" required placeholder="Password" class="text-white bg-[#161d2f] pl-4 pb-6 h-[2.3125rem] focus:outline-none  placeholder:text-[0.9375rem] placeholder:font-light placeholder:text-opacity-50 border-b  border-[#5a698f] w-[21rem]">
      </div>
      <div class="flex flex-col gap-y-4 items-center">
        <button type="submit" class="bg-[#fc4747] rounded-[0.375rem] w-full h-[3rem] text-center font-light text-[0.9375rem] text-[#fff] hover:text-[#161D2F] hover:bg-white transition">Login to your account</button>
        <p class="font-light text-[0.9375rem] text-white">Don't have an account? <span   class="text-[#FC4747] cursor-pointer"><a routerLink="/signup">Sign Up</a></span></p>
      </div>
    </form>
  </section>
</main>
